*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "hell";
    src: url(Helvetica_NTUXwLmxSC.ttf);
}

body{
    font-family: "hell";
}
section{
    width: 100%;
    height: 100%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
}

.part2{
     display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px;
}

nav h1{
    font-size: 50px;
}

nav h4{
    font-size: 30px;
    font-weight: 500;
}

nav button{
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
}

nav h1 i{
    display: inline-block;
    rotate: 45%;
    font-size: 55px;
}

.center{
    padding: 70px 100px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1{
    
    height: 100%;
    width: 44%;

}

.center-part1 h1{
    font-size: 110px;
    font-family: "hell";
    
    line-height: 1.2;
    
    
}




.center-part1 p{
    font-size: 30px;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 25px;
}


.center-part1 button{
    background-color: black;
    color: #fff ;
    border-radius: 10px;
    padding: 22px 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
}

.center-part2{
    
    height: 100%;
    width: 56%;
    position: relative;
}

.center-part2 img{
    position: absolute;
    right: 0;
    height: 100%;
}

.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section1bottom img{
    height:60px;
}

.section2 .services{
    
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 64px;
    gap: 20px;
}

.services h3{
    background-color: #B9FF66;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 60px;
}

.services p{
    width: 40%;
    font-size: 20px;
}
.container{
    height: 83%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.elem{
    height: 400px;
    width: 47%;
    border-radius: 30px;
    
    border: 2px solid black;
    box-shadow: 0px 15px 0px black;
    padding: 60px;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part1 h2{
      font-size: 33px;
    background-color: #B9FF66;
    font-weight: 500;
    font-family: "hell";
    width: 94%;
    border-radius: 11px;
    padding: 13px 14px;
}

.elem-part2{
    height: 100%;
    width: 50%;

}

.elem-part2 img{
    height: 100%;
}

.elem-part1 h4{
display: flex;
align-items: center;
font-size: 40px;
font-weight: 500;
gap: 20px;
}

.elem-part1 h4 i{
    padding: 3px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
}

.black{
    background-color: black;
}

#social{
    
    font-size: 33px;
    background-color: white;
    font-weight: 500;
    font-family: "hell";
    width: 94%;
    border-radius: 11px;
    padding: 13px 14px;
    color: black;
}

#learn{
    color: white;
}